@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: hsl(290, 48%, 14%);
    color: hsl(290, 70%, 80%);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
h1{
    color: hsl(310, 100%, 80%);
    font-weight: 200;
    font-size: 64px;
}