@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/*reseteo*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Figtree", sans-serif;
    color: #202630;
}
header{
    background-color: #5B86E5;
}
    header div{
        width: 1100px;
        height: 104px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        header div nav a{
            color: #fff;
            text-decoration: none; /* quita subrayado en los enlaces*/
            margin: 8px;
            font-size: 20px;
        }

main{
    min-height: 780px;
}
/* sección hero banner */
#hero{
    height: 680px;
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=5b86e5&c2=37d2dc&gt=l&gd=dtt
*/
    background: #5B86E5;
    background: linear-gradient(180deg, #5B86E5, #37D2DC);
}

    #hero article{
        width: 1100px;
        height: 680px;
        margin: auto;
        display: flex;
        align-items: center;
    }
        #hero article div{
            /*width: 550px;*/
            width: 50%;
            color: #fff;
        }
            #hero article div h1{
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 40px;
            }
            #hero article div h2{
                font-size: 40px;
                width: 478px;
            }

/* sección servicios */
#servicios{
    width: 1100px;
    height: 414px;
    margin: auto;
    margin-top: 72px;

    display: flex;
    flex-wrap: wrap; /* Respeta los anchos de los elementos contenidos */
    justify-content: space-between;
}
    #servicios h3{
        font-size: 24px;
        font-weight: 400;
        width: 100%;
        text-align: center;
    }
    #servicios article{
        width: 336px;
        height: 289px;
        border: 2px solid #07B2FF;
        border-radius: 8px;
        color: #07B2FF;
        padding: 24px 28px;
    }
        #servicios h2{
            font-weight: 300;
            margin: 24px 0px 16px 0px;
        }
        #servicios p{
            margin-bottom: 8px;
        }
        #servicios a{
            /* display: block; */
            text-decoration: none;
            color: #07B2FF;
            /* margin-top: 8px; */
        }

#portfolio{
    width: 1100px;
    margin: 72px auto 0px auto;
    padding: 32px 0px;

    display: flex;
    flex-wrap: wrap;   
    justify-content: space-evenly;
}
    #portfolio h1{
        width: 100%;
        font-weight: 400;
        text-align: center;
    } 
    #portfolio article{
        width: 340px;
        height: 340px;
        margin-top: 30px;
        padding-bottom: 16px;
        display: flex;
        align-items: end;
        justify-content: center;
    }
    #port-1{
        background-image: url(../imgs/portfolio-1.png);
    }
    #port-2{
        background-image: url(../imgs/portfolio-2.png);
    }
    #port-3{
        background-image: url(../imgs/portfolio-3.png);
    }
    #port-4{
        background-image: url(../imgs/portfolio-4.png);
    }
    #port-5{
        background-image: url(../imgs/portfolio-5.png);
    }
    #port-6{
        background-image: url(../imgs/portfolio-6.png);
    }
        #portfolio article a{
            background-color: #fff;
        }


footer{
    margin-top: 72px;
    background-color: #0B1E46;
}
    footer div{
        width: 1100px;
        height: 216px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        footer div nav a{
            margin: 16px;
        }