@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/*reseteo*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Figtree", sans-serif;
    color: #202630;
}
header{
    background-color: #5B86E5;
}
    header div{
        width: 1100px;
        height: 104px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        header div nav a{
            color: #fff;
            text-decoration: none; /* quita subrayado en los enlaces*/
            margin: 8px;
            font-size: 20px;
        }

main{
    min-height: 780px;
}
/* sección hero banner */
#hero{
    height: 680px;
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=5b86e5&c2=37d2dc&gt=l&gd=dtt
*/
    background: #5B86E5;
    background: linear-gradient(180deg, #5B86E5, #37D2DC);
}

    #hero article{
        width: 1100px;
        height: 680px;
        margin: auto;
        display: flex;
        align-items: center;
    }
        #hero article div{
            /*width: 550px;*/
            width: 50%;
            color: #fff;
        }
            #hero article div h1{
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 40px;
            }
            #hero article div h2{
                font-size: 40px;
                width: 478px;
            }

/* sección servicios */
#servicios{
    width: 1100px;
    height: 414px;
    margin: auto;
    margin-top: 72px;

    display: flex;
    flex-wrap: wrap; /* Respeta los anchos de los elementos contenidos */
    justify-content: space-between;
}
    #servicios h3{
        font-size: 24px;
        font-weight: 400;
        width: 100%;
        text-align: center;
    }
    #servicios article{
        width: 336px;
        height: 288px;
        border: 2px solid #07B2FF;
    }


footer{
    height: 216px;
    background-color: #0B1E46;
}